<!-- New Route -- GET
earfull/playlists/:userId/new

Create Route -- POST 
earfull/playlists/:userId

Edit Route -- GET 
earfull/playlists/:userId/:playlistId/edit 

Update Route -- PUT 
earfull/playlists/:userId/:playlistId

Destroy Route -- DELETE 
earfull/playlists/:userId/:playlistId

Show Route -- GET 
earfull/playlists/:userId 

res.render("playlist/edit.ejs", {
	user: foundUser,
	playlist: foundPlaylist,
	episodes: episodeArray,
	message: req.session.message,
	title: "Edit Playlist",
	header: `Edit Playlist`,
	loggedIn: req.session.loggedIn,
	results: search.results
})

const playlistSchema = mongoose.Schema({
	name: {type: String, require: true, unique: true}
	ownerId: String,
	datePosted: {type: Date, default: Date.now()},
	lastEdited: {type: Date, default: Date.now()},
	episodes: [String] // array of strings of episode IDs!!
});

-->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" integrity="sha256-p6xU9YulB7E2Ic62/PX+h59ayb3PBJ0WFTEQxq0EjHw=" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
	<title><%=title%></title>
</head>
<body>
<!-- Partial for header, requires variables "header" (string) and "loggedIn" (boolean) -->
	<%- include("../partials/header", {header: header}) %>

	<main>
		<div class="main-container-playlist">

			<div class="playlist-search-container-outer">
				<div class="playlist-search-container">
					<h1>Episodes</h1>
					<form class="search-form" method="POST" action="/earfull/playlists/<%=user._id%>/<%=playlist._id%>/search">
						<input class="search-bar" type="text" placeholder="Search for an episode" name="query">
				<!-- 	<select name="type">
							<option value="episode">Episode</option>
							<option value="podcast">Podcast</option>
						</select> -->
						<button class="search-button">Search</button>
					</form>

					<!-- <h1>Episode Search Results</h1> -->
					<% if (results.length > 0) { -%>
						<div class="results-box">
							<% for (let i = 0; i < results.length; i++) { -%>
								<div class="single-result">
									<div class="episode-title-row">
										<h5 class="search-title"><%=results[i].podcast_title_original%></h5>
										<h5 class="search-title"><%=results[i].title_original%></h5>
										<%let d = new Date(results[i].pub_date_ms)%>
										<%let dateEnglish = d.toLocaleDateString()%>
										<h5 class="search-title"><%=dateEnglish%></h5>
									</div>
									<% let shortDescription = ""%>
									<% let stopCounter = 0 %>
									<% for (let j = 0; j < results[i].description_original.length; j++) { -%>
										<% if (results[i].description_original[j] === ".") { -%>
											<% stopCounter++ %>
											<% if (stopCounter === 3) { -%>
												<% shortDescription += "."%>
												<% stopCounter = 0 %>
												<% break %>								
											<% } %>
										<% } else { -%>
											<%  shortDescription += results[i].description_original[j]%>
										<% } -%>		
									<% } -%>
									<div class="desc-pic-container clearfix">
										<img class="search-pic" src="<%=results[i].thumbnail%>">
										<p class="search-desc"><%=shortDescription%></p>
										<div class="listen-link-container">
											<a class="listen-link" href="/earfull/episodes/<%=results[i].id%>">Listen to episode</a>
											<button id="add-<%=i%>" class="addBtn listen-link" data-epid="<%=results[i].id%>" data-podcast="<%=results[i].podcast_title_original%>" data-episode="<%=results[i].title_original%>" data-img="<%=results[i].thumbnail%>">Add to <%=playlist.name%></button>
										</div>
									</div>
									<% shortDescription = "" %>
									
									<% if (i < results.length - 1) { %>
										<hr>		
									<% } %>
								</div>
							<% } -%>
						</div>	
					<% } -%>
				</div>
			</div>

			<div class="playlist-container-outer">
				<div class="playlist-container">
					<h2><%=playlist.name%></h2>
					
					<h4>Added to <%=playlist.name%>:</h4>
					
					<ul id="add-to-playlist">
					</ul>
					
					<form action="/earfull/playlists/<%=user._id%>/<%=playlist._id%>?_method=PATCH" method="POST">
						<div class="centerButton">
							<button id="save-btn">Add Episodes</button> <br />
						</div>
						<input hidden id="addList" name="addList" value=""> 
					</form>
				</div>	
			</div>
		</div>
	</main>
	<!-- Partial for footer -->
	<%- include("../partials/footer") %>
<!-- Our script, stored in public/static  -->
<script type="text/javascript" src="/static/addEpisodes.js"></script>
</body>
</html>