<!-- New Route -- GET
earfull/playlists/:userId/new

Create Route -- POST 
earfull/playlists/:userId

Edit Route -- GET 
earfull/playlists/:userId/:playlistId/edit 

Update Route -- PUT 
earfull/playlists/:userId/:playlistId

Destroy Route -- DELETE 
earfull/playlists/:userId/:playlistId

Show Route -- GET 
earfull/playlists/:userId 

render: {
	user: foundUser,
	header: `${foundUser.username}'s Playlists`,
	title: "EarFull Playlists",
	message: req.session.message,
	loggedIn: req.session.loggedIn,
	playlists: foundUser.playlists
}
-->
<!DOCTYPE html>
<html>

<!-- Partial for head, requires variable "title" -->
	<%- include("../partials/head", {title: title}) %>

<body>
<!-- Partial for header, requires variables "header" (string) and "loggedIn" (boolean) -->
	<%- include("../partials/header", {header: header}) %>

	<main>
		<h1><%=user.username%>'s Playlists</h1>

		<a href="/earfull/playlists/<%=user._id%>/new">New Playlist</a> <br />

		<ul>
		<% for (let m = 0; m < playlists.length; m++) { -%>
			<li>
				<div>
					<div>
					<h3><%=playlists[m].name%> &nbsp;</h3> <br /> 
					<a href="/earfull/playlists/<%=user._id%>/<%=user.playlists[m]._id%>">View</a> 
					<br />
					<a href="/earfull/playlists/<%=user._id%>/<%=user.playlists[m]._id%>/edit">Edit</a>
<!-- 						<ol>
							<% // for (let i = 0; i < playlists[m].episodes.length; i++) { -%>
								<li><%=// playlists[m].episodes[i]%></li>
							<%// } -%>
						</ol> -->
					</div>
				</div>
			</li>
		<% } -%>
		</ul>
	</main>

<!-- Partial for footer -->
	<%- include("../partials/footer") %>
</body>
</html>